/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(25, 100, 25);
    color: white;
    padding: 1em 0;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: right;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
    gap: 24px;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
}

section img {
    width: 300px;
    height: auto;
    border-radius: 200px;
}

#resume {
    position: relative;
    z-index: 1;
}

#resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/spartan.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or you can use a specific size like 100px 100px */
    opacity: 0.5; /* Adjust the opacity to make sure the text is readable */
    z-index: -1;
}
